# Database
DATABASE_URI=postgresql://user:password@localhost:5432/your_database_name

# Blob
BLOB_READ_WRITE_TOKEN=blob_token

# Payload
PAYLOAD_SECRET=your-secret-key-here-generate-a-secure-one
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Production
PAYLOAD_PUBLIC_SERVER_URL=https://yourdomain.com